body * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    background-color: pink;
    color: black;
  }
  
  .left, .right {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .left {
    float: left;
    margin-right: 20px;
  }
  
  .right {
    float: right;
    margin-left: 20px;
  }
  
  main {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  